*{
    padding:0;
    margin:0;
    outline:0;
    box-sizing: border-box;
}

html {
    background: #00c6ff;  



}

body{
    font-family: sans-serif, Arial;
    background: linear-gradient(to right, #0072ff, #00c6ff);
    overflow: hidden;
}
button{
    border:0;
    background-color: rgb(63, 63, 63);
    color:white;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    margin: 5px;
    font-size:25px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(169, 181, 181);
}
p{
    color:#fff;
    font-size: 40px;
    text-align: right;
    padding: 10px;
}

h1{
    text-align: center;
    color:rgb(223, 223, 228);
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

.calculator{
    position: relative;
    height: auto;
    width: auto;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0 0 35px;
    padding:10px;
    background-color:black;
}

.clear,.ClearByOne{
    background-color: rgb(221, 245, 245);
    color:#000;
}

.calc_btn_operation{
    background-color: orange;
}

.calc_btn_operation:hover{
    background-color: rgb(184, 152, 55);
}






